---
import MainLayout from "@layouts/MainLayout.astro";

// TODO just a placeholder, will be replaced by a real journey
---

<MainLayout title="Example Journey 1">
  <p class="text-xl lg:text-3xl">Example Journey 1</p>
</MainLayout>
