---
import BaseLayout from "@layouts/BaseLayout.astro";
import JourneyCardGrid from "@components/JourneyCardGrid.astro";
import { journeyPageData } from "src/data";
import type { JourneyCardData } from "src/types";

const journeys: JourneyCardData[] = journeyPageData
  .filter(({ isStart }) => isStart)
  .map((pageData) => ({
    title: pageData.title,
    description: pageData.description,
    buttonText: "Start",
    href: `/journeys/${pageData.path}`,
  }));
---

<BaseLayout title="Journeys">
  <div class="flex flex-col items-center gap-6 text-xl lg:gap-16 lg:text-3xl">
    <p>Select from one of the following Journeys</p>

    <JourneyCardGrid {journeys} />
  </div>
</BaseLayout>
