---
import BaseLayout from "@layouts/BaseLayout.astro";
import JourneyCardGrid from "@components/JourneyCardGrid.astro";
import type { JourneyCardData, JourneyPageData } from "src/types";
import { toJourneyPageData } from "src/data/journeys";

const caseData = await Astro.glob("../../data/cases/*.json");

const journeyPageData: JourneyPageData[] = [];
caseData.forEach((caseFile, i) => {
  const caseData = toJourneyPageData(i + 1, [caseFile.default[0]]);
  journeyPageData.push(caseData[0]);
});

const journeys: JourneyCardData[] = journeyPageData
  .filter(({ isStart }) => isStart)
  .map((pageData) => ({
    title: pageData.title,
    description: pageData.description,
    buttonText: "Start",
    href: `/journeys/${pageData.path}`,
  }));
---

<BaseLayout title="Journeys">
  <div class="flex flex-col items-center gap-6 text-xl lg:gap-16 lg:text-3xl">
    <p>Select from one of the following Journeys</p>

    <JourneyCardGrid {journeys} />
  </div>
</BaseLayout>
