---
import BaseLayout from "@layouts/BaseLayout.astro";
import JourneyCardGrid from "@components/JourneyCardGrid.astro";

const journeys = [
  {
    title: "Example Journey 1",
    description:
      "Example Journey description 1. Example Journey description 1. Journey description 1.",
    buttonText: "Start",
    href: "/journeys/example-journey-1",
  },
  {
    title: "Example Journey 1",
    description:
      "Example Journey description 1. Example Journey description 1. Journey description 1.",
    buttonText: "Start",
    href: "/journeys/example-journey-1",
  },
  {
    title: "Example Journey 1",
    description:
      "Example Journey description 1. Example Journey description 1. Journey description 1.",
    buttonText: "Start",
    href: "/journeys/example-journey-1",
  },
  {
    title: "Example Journey 1",
    description:
      "Example Journey description 1. Example Journey description 1. Journey description 1.",
    buttonText: "Start",
    href: "/journeys/example-journey-1",
  },
];
---

<BaseLayout title="Journeys">
  <div class="flex flex-col items-center gap-6 text-xl lg:gap-16 lg:text-3xl">
    <p>Select from one of the following Journeys</p>

    <JourneyCardGrid {journeys} />
  </div>
</BaseLayout>
