---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <div class="flex flex-col items-center gap-6 text-xl lg:gap-16 lg:text-3xl">
    <h1 class="text-2xl lg:text-4xl">About Journey</h1>

    <p>TODO get content from Medha</p>
  </div>
</BaseLayout>
