---
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkButton from "@components/LinkButton.astro";
---

<BaseLayout title="Home">
  <div class="flex flex-col gap-6 text-xl lg:gap-16 lg:text-3xl">
    <p>
      Welcome to Journey, a site to help inform Medical Professionals about the
      trauma their patients may face.
    </p>

    <p>
      Journeys are activities meant to cultivate empathy for the situations that
      our patients may endure.
    </p>

    <div class="space-y-2 lg:space-y-4">
      <p>Some examples of a Journey include</p>
      <ul class="justify-self ml-4 list-disc space-y-1 lg:ml-6 lg:space-y-2">
        <li>A migrant crossing the U.S./Mexican Border</li>
        <li>A homeless person leaving the hospital without any shoes</li>
      </ul>
    </div>

    <LinkButton variant="primary" href="/journeys" text="View all Journeys" />

    <LinkButton variant="secondary" href="/about" text="Learn More" />
  </div>
</BaseLayout>
