---
import type { JourneyCardData } from "src/types";
import LinkButton from "./LinkButton.astro";

interface Props extends JourneyCardData {}

const { title, description, buttonText, href } = Astro.props;
---

<div
  class="flex min-w-[300px] flex-col items-center gap-2 rounded border border-black px-6 py-4 dark:border-white lg:gap-6 lg:px-10 lg:py-8"
>
  <p>{title}</p>

  {description && <p class="text-lg lg:text-2xl">{description}</p>}

  <LinkButton variant="primary" text={buttonText} href={href} />
</div>
